@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --farbahlavnamodra:#3b82f6 ;
    --farbahover:#2563EB;
    --svetlamodra:#60A5FA;
    --header:#E5E7EB;
    --footer:#111827;
    --pozadie:#FFFFFF;
    --sekcie:#F9FAFB ;
    --border:#E5E7EB;
    --text: #374151;
    --nadpisy:#111827;
    --footerpismo:#9CA3AF;
}

body{
    background-color: var(--pozadie);
}
/*
nav{
    display:flex;
    gap:15px;
}

nav a{
    text-decoration:none;
    color:#111827;
    font-weight:500;
}
*/

/*toto skusam- DOPLN REALNE VELKOSTI A FARBY!!!*/
header{
    height:80px;
    background:var(--header);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.logo{
    color:var(--farbahlavnamodra);
    font-size:18px;
    font-weight:800;
    font-family: Inter;
}

.hero{
    background:var(--farbahlavnamodra);
    text-align:center;
    padding:32px 16px;
}

.hero h1{
    font-size:24px;
    color:var(--pozadie);
    font-weight:700;
    font-family: Poppins;
    margin-bottom:16px;
}

.hero p{
    font-size:16px;
    font-family: Poppins;
    font-weight: 300;
    color: var(--border);
    margin:16px;
}

.hero button{
    background-color:var(--pozadie);
    color:var(--farbahlavnamodra);
    border:none;
    font-family: Inter;
    padding:14px 24px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}

.o_mne{
    background-color: var(--sekcie);
    padding: 16px 24px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
}

.o_mne h2{
    color: var(--nadpisy);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}


.o_mne p{
    font-family: Poppins;
    color: var(--text);
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}


.o_mne button{
    background-color: var(--svetlamodra);
    color: var(--text);
    border: none;
    font-family: Inter;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}

.projekty {
    padding: 24px 16px;
}

.projekty h2{
    color: var(--nadpisy);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.karty_projekty{
    padding: 12px;
    background-color: var(--pozadie);
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 16px;
    border-radius: 12px;
}

.karty_projekty h3{
    color: var(--footer);
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 12px;
}

.karty_projekty p{
    color: var(--text);
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
    margin-bottom: 12px;
}

.karty_projekty span{
    color: var(--text);
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
    margin-bottom: 12px;
}

.karty_projekty img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius: 8px;
}

.projekty_tlačidlo{
    background-color: var(--farbahlavnamodra);
    color: var(--pozadie);
    font-size: 16px;
    font-weight: 600;
    border: none;
    font-family: Inter;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
    margin-top: 8px;
}

.kontakt{
    background-color: var(--sekcie);
    text-align: center;
    padding: 45px 16px;
    margin-top: 48px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    margin-bottom: 48px;
}

.kontakt h2{
    color:var(--nadpisy) ;
    font-family:Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.kontakt button{
    background-color: var(--farbahlavnamodra);
    color: var(--pozadie);
    font-size: 16px;
    font-weight: 600;
    border: none;
    font-family: Inter;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}


footer{
    background:var(--footer);
    color:var(--footerpismo);
    text-align:center;
    padding:24px 16px;
    font-size:14px;
    font-family: Inter;
    font-weight: 300;
}


/*toto je podstránka KONTAKT!*/
.kontakt_hero{
    text-align: center;
    padding: 32px 16px;
}


.kontakt_hero h1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    color:var(--nadpisy);
    margin-bottom: 16px;
}


.kontakt_hero p{
    font-family: Inter;
    font-size: 16px;
    font-weight:400 ;
    color: var(--text);
}

.kontakt_formular{
    padding: 24px 16px;
}

.kontakt_formular h2{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color:var(--nadpisy);
    margin-bottom: 16px;
}

form{
    display:flex;
    flex-direction:column;
}
label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color:var(--text);
    margin-bottom: 16px;
    margin-top: 16px;
}
input{
    padding:16px;
    background-color: var(--pozadie);
    border-radius:8px ;
    border: 1px solid var(--header);
    font-size: 16px;
    font-family: Inter;
}
textarea{
    padding:16px;
    background-color: var(--pozadie);
    border-radius:8px ;
    border: 1px solid var(--header);
    font-size: 16px;
    font-family: Inter;
    height: 90px;
    margin-bottom: 16px;
}
button{
    background-color: var(--farbahlavnamodra);
    color: var(--pozadie);
    font-size: 16px;
    font-weight: 600;
    border: none;
    font-family: Inter;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}

.kontakt_udaje{
    text-align: center;
    padding: 24px 16px;
}


.kontakt_udaje h2{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color:var(--nadpisy);
    margin-bottom: 16px;
}
.kontakt_udaje p{
    font-family: Inter;
    font-size: 16px;
    font-weight:400 ;
    color: var(--text);
    margin-bottom: 12px;
}
.socialnesiete{
    text-align: center;
    padding: 24px 30px;
}
.socialnesiete h2{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color:var(--nadpisy);
    margin-bottom: 16px;
}


/* ==================== DESKTOP (1024px+) ==================== */
@media (min-width: 1024px){

}

