@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --farbahlavnamodra:#3b82f6 ;
    --farbahover:#2563EB;
    --svetlamodra:#60A5FA;
    --header:#E5E7EB;
    --footer:#111827;
    --pozadie:#FFFFFF;
    --sekcie:#F9FAFB ;
    --border:#E5E7EB;
    --text: #374151;
    --nadpisy:#111827;
    --footerpismo:#9CA3AF;
}

body{
    background-color: var(--pozadie);
}

/*toto skusam- DOPLN REALNE VELKOSTI A FARBY!!!*/
header{
    height:80px;
    background:var(--header);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.logo{
    color:var(--farbahlavnamodra);
    font-size:18px;
    font-weight:800;
    font-family: Inter;
}

.hero{
    background:var(--farbahlavnamodra);
    text-align:center;
    padding:32px 16px;
}

.hero h1{
    font-size:24px;
    color:var(--pozadie);
    font-weight:700;
    font-family: Poppins;
    margin-bottom:16px;
}

.hero p{
    font-size:16px;
    font-family: Poppins;
    font-weight: 300;
    color: var(--border);
    margin:16px;
}

.hero button{
    background-color:var(--pozadie);
    color:var(--farbahlavnamodra);
    border:none;
    font-family: Inter;
    padding:14px 24px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}

.o_mne{
    background-color: var(--sekcie);
    padding: 16px 24px;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
}

.o_mne h2{
    color: var(--nadpisy);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}


.o_mne p{
    font-family: Poppins;
    color: var(--text);
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}


.o_mne button{
    background-color: var(--svetlamodra);
    color: var(--text);
    border: none;
    font-family: Inter;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 4px 10px rgba(0,0,0,0.10);
    cursor:pointer;
}

.projekty {
    padding: 24px 16px;
}

.projekty h2{
    color: var(--nadpisy);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.karty_projekty{
    padding: 12px;
    background-color: var(--pozadie);
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.karty_projekty h3{
    
}

.karty_projekty p{
    
}

.karty_projekty span{
    
}

footer{
    background:var(--footer);
    color:var(--footerpismo);
    text-align:center;
    padding:16px 24px;
    font-size:14px;
    font-family: Inter;
    font-weight: 300;
}


/* ==================== TABLET (768px+) ==================== */

@media (min-width: 768px) {

}

/* ==================== DESKTOP (1024px+) ==================== */
@media (min-width: 1024px){

}

